//fonts
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap");

// colors
$dark-gray1: #2b002b;
$dark-gray2: #2b002b;
$dark-gray-text: #2b002b;
$dark-gray3: #2b002b;
$light-gray: #2b002b;
$light-gray2: #d6d6d640;
$green: #519945;
$white: #2b002b;
$black: #353535;
$red: #c00c00;

// mixins
@mixin border-radius {
  border-radius: 5px;
}
@mixin input {
  border: 1px solid $black;
  padding: 5px;
  height: 20px;
}
// global styles
.container {
  width: 1400px;
  margin: 0 auto;
  height: auto;
}

.input {
  @include border-radius;
  height: 37px;
  width: 100%;
  max-width: 378px;
  border: none;
  font-size: 16px;
  padding: 0px 10px;
  color: $black;
  &::placeholder {
    font-size: 16px;
    color: $black;
  }
}
.text-center {
  text-align: center;
}
@media screen and (max-width: 1500px) {
  .container {
    width: 90vw;
  }
}
@media screen and (max-width: 500px) {
  .container {
    width: calc(100vw - 20px);
  }
}
